.hidden {
    display: none;
}

/* reset */

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    color: #434455;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}

p {
    font-weight: 400;
}

.submit-text {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.04em;
    line-height: 1.5;
    color: #fff;
}

/* hidden text */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section-paddings {
    padding-top: 60px;
    padding-bottom: 60px;
}

/* =============== Adaptive Device =============== */

/* Mobile Device */

.container {
    max-width: 320px;
    padding-right: 16px;
    padding-left: 16px;
    margin: 0 auto;
}

/* Tablet Device */

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

/* Desktop Device */

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-right: 15px;
        padding-left: 15px;
    }
}

/* =============== Page Header =============== */

/* =============== Mobile Device =============== */

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(13, 17, 83, 0.08),
     0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.features-nav-list,
.contacts {
    display: none ;
}

.header-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    text-transform: uppercase;

    display: block;
    padding: 16px 0;
}

.logo-studio {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #2e2f42;
    text-transform: uppercase;
}

.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon {
    display: block;
    fill: #2F2F37;
}

/* Mobile Menu */

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
                visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;

    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-menu-close {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    padding: 0;
    line-height: 0;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close:hover,
.mobile-menu-close:focus {
    background-color: #404bbf;
    border: none;
}

.mobile-menu-close:hover .mobile-icon-close,
.mobile-menu-close:focus .mobile-icon-close {
    fill: #fff;
}

.mobile-icon-close {
    fill:#2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-nav {
    margin-bottom: auto;
    margin-left: 16px;
}

.mobile-nav-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 151px;
    height: 200px;
}

.mobile-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-link:hover,
.mobile-link:focus {
    color: #4D5AE5;
}

.mobile-studio {
    color: #404bbf;
}

.mobile-contacts {
    font-style: normal;
    margin-bottom: 48px;
}

.mobile-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 193px;
    height: 72px;
}

.mobile-contacts-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-contacts-link:hover,
.mobile-contacts-link:focus {
    color: #4D5AE5;
}

.menu-social-media {
    width: 280px;
    height: 40;
}

.menu-list-icon {
    display: flex;
    gap: 40px;
}

.menu-item-social-media {
    width: 40px;
    height: 40px;
}

.menu-icon-social-media {
    fill: #F4F4FD;
}

.menu-link-social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4D5AE5;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link-social-media:hover,
.menu-link-social-media:focus {
    background-color: #31d0aa;
}

/* =============== Page Main =============== */

/* Hero section */

.main-text {
    background-color: #2e2f42;
    padding: 72px 0;
    margin: 0 auto;

    background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
            url(../images/mobile-image/people-office-3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 320px;
    min-height: 432px;
}

@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
    .main-text {
        background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/mobile-image/people-office-3@2x.jpg);
    }
}

.text-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;

    max-width: 216px;
    margin: 0 auto;
    margin-bottom: 72px;
}

.button-box {
    display: block;
    background-color: #4d5ae5;
    margin: 0 auto;
    border-radius: 4px;
    border: none;
    min-width: 169px;
    height: 56px;
}

.button-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.button-box:hover,
.button-box:focus {
    background-color: #404bbf;
}

/* Point-list */

.point-top {
    padding-top: 96px;
    padding-bottom: 96px;
}

.point-list {
    display: flex;
    flex-direction: column;
    row-gap: 72px;
}

.point-box-icon {
    display: none;
}

.point-name {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.point-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Our Team */

.team-works {
    background-color: #f4f4fd;
    padding: 96px 0;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
}

.team-item {
    background-color: #ffffff;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
                0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px 0px;
    width: 264px;
    height: 428px;
}

.team-title-card { 
    padding-top: 32px;
}

.team-member {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-skill {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.svg-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    width: 232px;
    height: 40px;
    margin: 0 auto;
    margin-top: 8px;
}

.social-icon-item {
    width: 40px;
    height: 40px;
}

.social-icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4D5AE5;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-link:hover,
.social-icon-link:focus {
    background-color: #404bbf;
}

.social-icon-svg {
    fill: #F4F4FD;
    justify-content: center;
}

/* /Our Team */

/* Our Portfolio */

.portfolio-top {
    padding-top: 96px;
    padding-bottom: 96px;
}

.port-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.port-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 48px;
}

.port-item {
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
                0 1px 1px 0 rgba(46, 47, 66, 0.16),
                0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.text-overlay {
    display: none;
}

.port-cards {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.port-product {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.port-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* =============== /Page Main =============== */

/* =============== Page Footer =============== */

.page-footer {
    background-color: #2E2F42;
    padding: 96px 0;
}

.flex-container-footer {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
}

.footer-studio {
    width: 288px;
    height: 112px;
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    text-transform: uppercase;

    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}

.footer-logo-studio {
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

.text-footer {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 288px;
}

.footer-social-media {
    width: 208px;
    height: 80px;
    margin: auto;
}

.text-social-media {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;

    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}

.list-footer-icon {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.item-social-media {
    width: 40px;
    height: 40px;
}

.link-social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4D5AE5;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-social-media {
    fill: #f4f4fd;
}

.link-social-media:hover,
.link-social-media:focus {
    background-color: #31d0aa;
}

.footer-subscribe {
    width: 288px;
    height: 136px;
}

.text-footer-subscribe {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #fff;

    display: flex;
    justify-content: center;
    margin-bottom: 16px; 
}

.footer-subscribe-input {
    width: 288px;
    height: 40px;
    margin-bottom: 16px;

    padding: 8px 16px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    
    border: 1px solid #fff;
    border-radius: 4px;
    color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    opacity: 0.3;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-input::placeholder {
    color: #fff;
}

.footer-subscribe-input:focus {
    outline: none;
    border-color: #31d0aa;
}

.footer-subscribe-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 165px;
    height: 40px;
    margin: auto;
    
    border-radius: 4px;
    cursor: pointer;
    border: none;
    background-color: #4d5ae5;
    
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-icon {
    margin-left: 16px;
}

.footer-subscribe-submit:hover,
.footer-subscribe-submit:focus {
    background-color: #31d0aa;
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}

/* =============== Tablet Device =============== */

@media screen and (min-width: 768px) {

    /* Page Header */

    .burger-btn {
        display: none;
    }

    .header-nav {
        display: flex;
        align-items: center;
    }

    .contacts {
        display: block;
        font-style: normal;
    }

    .contacts-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .contacts-link {
        display: block;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
    
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-logo {
        padding: 24px 0;
        margin-right: 120px;
    }

    .features-nav-list {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    .feat-link {
        display: block;
        padding: 24px 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
    
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .feat-link.current {
        position: relative;
    }
    
    .feat-link.current::after {
        content: "";
    
        position: absolute;
        left: 0;
        bottom: -1px;
    
        width: 100%;
        height: 4px;
    
        background-color: #404bbf;
        border-radius: 2px;
    }

    .feat-link:hover,
    .feat-link:focus,
    .contacts-link:hover,
    .contacts-link:focus,
    .feat-link.current {
        color: #404bbf;
    }

    /* =============== /Page Header =============== */

    /* =============== Page Main =============== */

    /* Hero section */

    .main-text {
        padding: 112px 0;
        max-width: 768px;
        min-height: 436px;
    
        background-image: linear-gradient(to bottom,
                    rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/tablet-image/people-office-2.jpg);
        }

    .text-title {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;

        max-width: 496px;
        margin: 0 auto;
        margin-bottom: 36px;
        }

    /* Point-list */

    .point-list {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
    }

    .point-item {
        width: calc((100% - 24px) /2);
    }

    .point-name {
        text-align: left;
    }

    /* Our Team */

    .team-cards {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        column-gap: 24px;
    }

    .team-item {
        width: calc((100% - 64) /2);
    }

    /* Our Portfolio */

    .port-list {
        column-gap: 24px;
    }

    .port-item {
        width: calc((100% - 72) /2);
    }

    /* =============== /Page Main =============== */

    /* =============== Page Footer =============== */

    .flex-container-footer {
        column-gap: 24px;
        padding-left: 108px;
        align-items: baseline;
    }

    .footer-logo {
        justify-content: flex-start;
    }
        
    .text-social-media {
        justify-content: flex-start;
    }
        
    .text-footer-subscribe {
        justify-content: flex-start;
    }

    .footer-studio {
        width: 264px;
        height: 112px;
    }

    .footer-social-media {
        margin: 0;
    }

    .footer-subscribe {
        width: 453px;
        height: 80px;
    }

    .footer-subscribe-form {
        display: flex;
        column-gap: 24px
    }

    .footer-subscribe-input {
        width: 264px;
        height: 40px;
        margin: 0;
    }

    }

    @media screen and (min-width: 768px) and (min-resolution: 192dpi) {
        .main-text {
            background-image: linear-gradient(to bottom,
                    rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/tablet-image/people-office-2@2x.jpg);
        }
    }
/* =============== Desktop Device =============== */

@media screen and (min-width: 1158px) {

    /* =============== Page Header =============== */

    .header-logo {
        margin-right: 76px;
    }

    .contacts-list {
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }

    .contacts-link {
        padding: 24px 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

    /* ===============/Page Header =============== */

    /* =============== Page Main =============== */

    /* Hero section */

    .main-text {
        padding: 188px 0;
        max-width: 1440px;

        background-image: linear-gradient(to bottom,
                    rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/hero-image/people-office-1.jpg);
    }

    .text-title {
        margin-bottom: 48px;
    }

    /* Point-list */

    .point-top {
        padding-top: 120px;
        padding-bottom: 120px;
    } 

    .point-item {
        width: calc((100% - 72px) /4);
    }

    .point-box-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 8px;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        width: 264px;
        height: 112px;
        background-color:#f4f4fd;
    }

    .point-name {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        margin-bottom: 8px;
    }

    .point-text {
        font-weight: 400;
        width: 264px;
        font-size: 16px;
        line-height: 1.5;
        color: #434455;
    }

    /* Our Team */

    .team-works {
        padding: 120px 0;
    }

    /* Our Portfolio */

    .portfolio-top {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .port-item {
        position: relative;
        width: calc((100% - 48px) /3);
        box-shadow: none;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .port-overlay-img {
        position: relative;
        overflow: hidden;
    }

    .text-overlay {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #4d5ae5;
        overflow: auto;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
            
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        padding: 40px 32px;
    }

    .port-item:hover .text-overlay {
        transform: translateY(0%);
    }

    .port-item:hover {
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
                    0 1px 1px 0 rgba(46, 47, 66, 0.16),
                    0 1px 6px 0 rgba(46, 47, 66, 0.08);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    /* =============== /Page Main =============== */

    /* =============== Page Footer =============== */
    
    .page-footer {
        padding: 100px 0;
    }

    .flex-container-footer {
        gap: 0;
        padding-left: 15px;
    }

    .footer-social-media {
        margin-left: 120px;
    }

    .footer-subscribe {
        margin-left: 80px;
    }

    .footer-subscribe-input {
        opacity: 1;
    }
}

    @media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
        .main-text {
            background-image: linear-gradient(to bottom,
                    rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/hero-image/people-office-1@2x.jpg);
        }
    }

/* =============== Modal Overlay =============== */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 408px;
    min-height: 584px;
    overflow: auto;
    padding: 72px 24px 24px;
    border-radius: 4px;
    background-color: #FCFCFC;

    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;

    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay:not(.is-open) .modal-window {
    transform: translate(-50% -50%) scale(1.5);
}

.modal-close-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 24px;
    right: 24px;
    background-color: #E7E9FC;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 24px;
    height: 24px;
    padding: 0;
    line-height: 0;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: #404bbf;
    border: none;
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
    fill: #fff;
}

.modal-close-icon {
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-slogan {
    display: block;
    width: 360px;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 16px;
}

.review-form-field-wrapper {
    margin-bottom: 8px;
}

.review-form-commets-box {
    margin-bottom: 16px;
}

.review-form-label {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.review-form-input {
    width: 100%;
    height: 40px;

    font-size: 12px;
    letter-spacing: 0.04em;
    color: #2E2F42;

    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    padding-left: 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-input-wrapper {
    position: relative;
}

.review-form-input:focus {
    outline: transparent;
    border-color: #4D5AE5;
}

.review-input-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #2E2F42;
}

.review-form-input:focus+.review-input-icon {
    fill: #4D5AE5;
}

.review-form-commets {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;

    padding: 8px 16px;
    resize: none;
    outline: transparent;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-commets::placeholder {
    color: rgba(46, 47, 66, 0.4);
}

.review-form-commets:focus {
    outline: transparent;
    border-color: #4D5AE5;
}

.review-form-checkbox-wrapper {
    margin-bottom: 24px;
}

.review-form-checkbox-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.review-form-checkbox:checked+.review-form-checkbox-label>.review-form-custom-checkbox {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}

.review-form-custom-checkbox {
    display: inline-flex;
    margin-right: 8px;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    cursor: pointer;
    fill: transparent;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-policy-link {
    text-decoration: underline;
    color: #4D5AE5;
}

.review-form-submit-button {
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    border: none;
    min-width: 169px;
    height: 56px;

    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-text {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.04em;
    line-height: 1.5;
    color: #fff;
}

.review-form-submit-button:focus,
.review-form-submit-button:hover {
    background-color: #404bbf;
}

@media screen and (max-width: 767px) {
    .modal-window {
        padding-left: 16px;
        padding-right: 16px;
        width: 288px;
        height: 623px;
    }

    .modal-slogan {
        width: 256px;
        height: 48px;
    }

    .review-form-checkbox-label {
        display: flex;
        align-items: center;
    }

    .review-form-custom-checkbox {
        flex-shrink: inherit;
    }
}

/* =============== /Modal Overlay Tabltet and Desktop =============== */

/* =============== /Page Header =============== */
